@import 'tailwindcss';
/* @import 'tailwindcss/preflight'; */

/* @tailwind base;
@tailwind components;
@tailwind utilities; */

body {
  overscroll-behavior: none;
  background-color: #092417;
}

/* width */
::-webkit-scrollbar {
  width: 8px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #E0B87A;
  border-radius: 1rem;
  background-size: contain;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #E0B87A;
}
