@import 'tailwindcss';

@theme{
  --color-primary: #0A2310;
  --color-secondary: #E0B87A;
  --color-tertiary: #E8E3DA;

  --color-lightText: #768669;
  --color-darkText: #355128;

  --font-DMSans: "DMSans", "sans-serif";
  --font-instrument: "instrument", "serif";

  
}

/* @import "tailwindcss/preflight";
@import "tailwindcss/utilities"; */

/* @import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities"; */

@font-face {
  font-family: 'DMSans';
  src: url('/fonts/DMSans-VariableFont_opsz,wght.ttf') format('opentype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'instrument';
  src: url('/fonts/InstrumentSerif-Regular.ttf') format('opentype');
  font-weight: 400;
  font-style: normal;
}

body {
  overscroll-behavior: none;
  background-color: #092417;
}

h1,h2 {
  font-family: 'intrument';
}

p{
  font-family: 'DMSans';
}

input, textarea{
  color:#355128;
  font-family: 'DMSans', 'sans-serif';
}

::placeholder {
  color: #355128;
  font-family: 'DMSans', 'sans-serif';
  opacity: 1; /* Firefox */
}

::-ms-input-placeholder { /* Edge 12-18 */
  color: #355128;
}

/* width */
::-webkit-scrollbar {
  width: 8px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #E0B87A;
  border-radius: 1rem;
  background-size: contain;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #E0B87A;
}

.cursor-custom{
  cursor: url('newCursorLeaf.svg') 4 4, auto;
}
