@import 'tailwindcss';
/* @import "tailwindcss/preflight";
@import "tailwindcss/utilities"; */

@font-face {
  font-family: 'PPNeueMontreal';
  src: url('/fonts/PPNeueMontreal-Thin.otf') format('opentype');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'PPNeueMontreal';
  src: url('/fonts/PPNeueMontreal-Bold.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'PPEditorialOld';
  src: url('static/fonts/PPEditorialOld-Regular.otf') format('opentype');
}




body {
  overscroll-behavior: none;
  background-color: #092417;
}

/* width */
::-webkit-scrollbar {
  width: 8px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #E0B87A;
  border-radius: 1rem;
  background-size: contain;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #E0B87A;
}
